.margen-Titulo{

    background-color: #BF3131;
    text-align: left;
    justify-content: left;
    margin-left: -4vh;
    border-radius: 4vh;
    width: 45vh;

}

.titulo{

    font-size: 5vh;
    margin: 5vh;
    font-family: "Segoe Print", cursive;

}

.rojo{

    color: #BF3131;
    font-family: "MV Boli", cursive;
    font-size: 4vh;

}

.negrilla{

    color: black;
    font-family: "MV Boli", cursive;
    font-size: 3vh;

}