.margen-Titulo{

    background-color: #BF3131;
    text-align: left;
    justify-content: left;
    margin-left: -4vh;
    border-radius: 4vh;
    width: 45vh;

}

.titulo{

    font-size: 4vh;
    margin: 5vh;
    font-family: "Segoe Print", cursive;

}

.rojo{

    color: #BF3131;
    font-family: "MV Boli", cursive;
    font-size: 3vh;

}

.negrilla{

    color: black;
    font-family: "MV Boli", cursive;
    font-size: 2vh;

}

.fondo-Informacion{

    display: flex;
    background-color: aliceblue;
    border-radius: 20px;
    height: 72vh;
    width: 210vh;

}

.informacion1{

    margin: 20px;

}

.informacion2{

    margin: 20px;

}

.informacion3{

    margin: 20px;

}