html{

    scroll-behavior: smooth;

}

body{

    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

.encabezado{

    display: flex;
    background-color: #05087E;
    height: 10vh;

}

.btn-Encabezado{

    justify-content: right;
    align-items:center;
    position: relative;
    vertical-align: middle;
    top: 7px;
    left: 600px;
    color: wheat;
    font-size: 25px;

}

.button-Encabezado{

    margin: 20px;

}

.button-Encabezado:hover{

    color: #C66910;

}

.logoKinal{

    width: 22vh;
    height: 7vh;
    margin: 20px;
    position: relative;
    top: -5px;

}

.home{

    vertical-align: middle;
    height: 80px;
    width: 80px;
    position: relative;
    top: -1px;

}

.iframe{

    width: 100%;
    height: 500%;
    border: none;

}

.inicio{
    background-color: #ceb4a5;
    width: 100%;
    height: 100%;
}

.centrado{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineal{

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Lema{

    color: #05087E;
    font-family: "Ink Free",cursive;
    position: relative;
    font-size: 5vh;
    margin: 3vh;

}

.contenedor-Parrafo{

    display: flex;
    background-color: aliceblue;
    font-size: 20px;
    font-family: "Palatino Linotype", cursive;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;


}

.SubTitulo{

    color: #05087E;
    font-family: "Ink Free",cursive;
    position: relative;
    font-size: 5vh;
    margin: 3vh;

}

.texto1{

    display: flex;
    background-color: #05087E;
    color: white;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    margin: 10px;

}

.texto2{

    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 400px;
    border-radius: 20px;
    margin: 10px;

}

a{
    margin: 5px;
    text-decoration: none;
}

.tituloA{
    display: flex;
    color: aliceblue;
    font-size: 60px;
}

.textoA{
    display: flex;
    color: aliceblue;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.tituloB{
    display: flex;
    color: #05087E;
    font-size: 60px;
}

.textoB{
    display: flex;
    color: aliceblue;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.contenedorC{

    width: 40%;
    height: 500px;

}

.textoC{

    font-size: 20px;
    font-family: "Elephant", cursive;
    color: #071168;

}

.contenedorD{
    height: 600px;
    width: 800px;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;

}

.imgElectronica{

    width: 100%;
    height: 100%;

}

.tituloE{
    display: flex;
    color: aliceblue;
    font-size: 40px;
}

.textoE{
    display: flex;
    color: aliceblue;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.activo{

    font-size: 35px;
    color: green;
    font-family: "Cascadia Code", cursive;
    font-weight: bold;

}

.ocupado{

    font-size: 35px;
    color: red;
    font-family: "Cascadia Code", cursive;
    font-weight: bold;

}

.fondo{

    background-color: #071168;
    width: 100%;
    height: 64vh;

}

input {
    text-align: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin: 20px;
  }

  .boton-Final {
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    margin: 20px;
  }

  .boton-Final:hover {
    background-color: #ff0000; 
  }

  .motivo{

    padding-left: 250px;
    padding-right: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin: 20px;

  }