body{

    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
    height: 100%;

}

.encabezado{

    display: flex;
    background-color: #05087E;
    height: 10vh;

}

.btn-Encabezado{

    justify-content: right;
    align-items:center;
    position: relative;
    vertical-align: middle;
    top: 7px;
    left: 650px;
    color: wheat;
    font-size: 25px;

}

.button-Encabezado{

    margin: 20px;

}

.button-Encabezado:hover{

    color: #C66910;

}

.logoKinal{

    width: 22vh;
    height: 7vh;
    margin: 20px;
    position: relative;
    top: -5px;

}

.home{

    vertical-align: middle;
    height: 80px;
    width: 80px;
    position: relative;
    top: -1px;

}

.iframe{

    width: 100%;
    height: 500%;
    border: none;

}

.inicio{

    background-color: #ceb4a5;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 50vh;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;

}

.Lema{

    color: #05087E;
    font-family: "Ink Free",cursive;
    font-size: 5vh;
    margin: 3vh;

}

.contenedor-Parrafo{

    position: relative;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    margin: 10px;

}